DATABASE_URL="mysql://root:yourdbpasswordlocalhost:3306/yourdb"
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=yourdbpassword
DATABASE_NAME=yourdbname
JWT_SECRET=yourjwtsecret
APP_URL=http://localhost:3000
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_MAX_AGE=3600000
PORT=8000


